
html{
    background-color: azure;
}

nav{
    background-color: aliceblue;
}/*I dont have a section so i am going to format my h1 */
h1{
    font-family: Gerogia;
    color : rgb(35, 132, 37);
    font-size: 5em;
    font-weight: bold;
    padding: 2rem;
    border-bottom-width: 1.5rem;
    border-bottom-style: groove;
    width: 90%;
    margin:auto;
}

main{
    border-width:2px;
    border-style: solid;
    width:80%;
    margin:auto;
}

p {
    color:navy;
    background-color: bisque;
    font-family: times new roman;
    font-size:2em;
    width:80%;
    margin:auto;

}

ul{
    color: rgb(44,44,44);
    background-color: rgba(44, 65, 102, 0.56);
    font-size: 1em;
}

/*id*/
#top{
    color:rgb(33, 14, 174);
}

/*Descendant combinator*/
p var {
    font-size:2.5em;
    color:gray;
    background:yellow;
}